extends layout

block stylesheets
    link(rel="stylesheet", href="/css/user-desktop.css")

block content
    .account-wrapper
        aside.sidebar
            .profile
                img.profile-pic(src="/images/users/user-default.png", alt="Profile Picture")
                h3 #{username}
            nav.sidebar-links
                button.option(data-section="orders") Orders
                button.option(data-section="change-password") Change Password
                button.option(data-section="addresses") Addresses
        main.main-content(data-selected-section=selectedSection || 'orders')
            .orders(data-section="orders")
                h2 Orders
                each order in orders
                    .order-card
                        .top
                            span Order Placed: #{order.order_date}
                            span Total: US $#{order.total.toFixed(2)}
                            span Order #: #{order.order_number}
                        hr
                        .products
                            each product in order.products
                                .item
                                    .image
                                        a(href=`/products/${product.id}`)
                                            img(src=product.img_src, alt=product.name)
                                    .details
                                        a(href=`/products/${product.id}`)
                                            span #{product.name} x#{product.quantity}
                        hr
                        .bottom
                            button.order-btn Track
                            button.order-btn Return
                            button.order-btn Review
            .change-password(data-section="change-password")
                .change-password-container
                    h2#passwordHeading Change Password
                    form(action="/user/change_pass", method="POST")
                        .form-group
                            label(for="currentPassword") Current Password
                            input#currentPassword(type="password", name="currentPassword", required)
                        .form-group
                            label(for="newPassword") New Password
                            input#newPassword(type="password", name="newPassword", required minlength="8")
                        .form-group
                            label(for="confirmPassword") Confirm New Password
                            input#confirmPassword(type="password", name="confirmPassword", required minlength="8")
                        if error
                            .error-msg= error
                        if success
                            .success-msg= success
                        button(type="submit").submit-btn Update Password
            .addresses(data-section="addresses")
                h2 Addresses

            script(src="/js/user.js")